
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  background-color: black;
}

.nasa-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2, h4 {
  font-family: Papyrus, sans-serif;
  color: white;
}

.header-bar {
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.descrip {
  max-width: 70%;
  font-family: Herculanum, sans-serif;
  font-size: larger;
  color: white;
  line-gap-override: 10px;
}

img {
  max-width: 60%;
  object-fit: cover;
  border-radius: 10%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

